label {
    font-weight: bold;
}

input[type=text] {
	color:black;
	padding: 0;
}

p {
    margin: 1em 0 0;
}

.main{
  float:none;
  margin: 20 auto;
  background-color:#3B5998; 
  color:#FFFFFF;
  line-height: 1.5em;
  padding: 20px;
  text-align: center;
  max-width: 680px;
}

.header{
	text-align: center;
}

.content{
	border: 1px white solid;
	float: none;
	padding: 5px;
}

.row{
	padding: 5px;
	text-align: left;
	margin: 5px;
	vertical-align: middle;
}

label.control-label{
	font-size: 110%;
	vertical-align: middle;
}

input[type=button]{
	color: #3B5998;
    background-color:#ECEEF5;
    border:1px solid #CAD4E7;
    text-decoration:none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
padding: 2px 3px 2px 2px;
margin-right:5px;
}

button:hover{
    border:1px solid #9DACCE;
    text-decoration:none;
	background-color: #00FF00;
     
}

select {
    width:700px; 
    overflow:visible; 
    white-space:pre; 
    text-overflow:ellipsis;
	color: black;
}
option {
          border: solid 1px #DDDDDD; 
}

.error-div{
	text-align: center; 
	width: 100%; 
	background-color: red; 
	margin-top: 5px; 
	display: none;
}